# {{ ansible_managed }}

source ~/.bashrc

# User own binaries.
export PATH=$PATH:{{ user_bin_dir }}

# Golang vars 
# Go executables
export PATH=$PATH:{{ user_bin_dir }}/go/bin
# https://golang.org/doc/gopath_code
export GOPATH={{ golang_gopath_dir }}
# built apps bin dir
export PATH=$PATH:{{ golang_gopath_bin_dir }}

# GPG key prompt on Git commits.
export GPG_TTY=$(tty)
